<div class="section experiences">
    <h3>Expériences professionnelles
        <div class="lefthead"></div>
    </h3>
    {% for experience in experiences %}
        <div class="item">
            <div class="title">
                <div class="date">
                    {{ experience.date.begin }} -
                    {{ experience.date.end }}
                    ({{ experience.date.duration }})
                </div>
                {{ experience.title }}
                /
                <a href="{{ experience.companyWebsite }}">{{ experience.company }}</a>
            </div>
            <ul>
                {% for task in experience.tasks %}
                    {% if task is iterable %}
                        <li>
                            {{ task.description }}
                            <ul>
                                {% for subtask in task.subtasks %}
                                    <li>{{ subtask }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li>{{ task }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div class="clear"></div>
</div>