<ul class="info icons-ul">
    <li>
        <i class="icon-envelope icon-large"></i><a href="mailto:{{ info.email }}">Contact</a>
    </li>
    <li>
        <i class="icon-phone icon-large"></i>{{ info.phone }}
    </li>
    <li>
        <i class="icon-mobile-phone icon-large"></i>{{ info.cellular }}
    </li>
    <li>
        <i class="icon-cloud icon-large"></i><a href="{{ info.website }}">Blog</a>
    </li>
    <li>
        <i class="icon-github icon-large"></i><a href="{{ info.github }}">GitHub</a>
    </li>
</ul>